{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Tiny Junkyard Challenges you to collaborate about build your dreams together" "subtitle" "Support sustainable farming while enjoying a cup") }}

{{ partial "short-text" (dict "heading" "Why Tiny?" "text" "When thinking of junk, its usually something we want less of it, we want it reduced.  The tinyness of this service is centered around having junk in constant state of use and maintenance.. That's when it ceases to be junk and begins to be useful to society and not just rust molecules. ( in order .")}}

{{ partial "2-up" (dict "heading" "How to share or find materials" "description" "Tiny Junkyard is a connector that helps us to have virtual space to work from.  Alot of the work that needs to be done is basically PLANNING, coming up with a good design... That's why we are working to provide an intelligent junkyard robot assistant. The assistant we are working on is design to help assist each of us here at the Tiny Junkyard with sharing and trading items so that more projects get built ." "buttonText" "See all listings" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Easier ways to share items which could othewise go to waste, good designs, and the benefits of building with your neighbors are the common goals that motivate the work on this website.  More trading and collaborating creates satisfying work and more cohesive local community." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}iny

{{ partial "footer" . }}
